{% extends 'base.html' %}

{% block title %}
    Detail
{% endblock %}

{% block body %}
    <div class="list-group col-8 offset-2 mt-3">
        <a class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ product.name }}</h5>
                <small class="text-success">{{ product.price }} som</small>
            </div>
            <p class="mb-1">{{ product.description }}</p>
            <small>Balance of products: {{ product.count }}</small>
        </a>
    </div>
    <a href="{% url 'index' %}" class="btn btn-success d-block mt-3 mx-auto w-25">Return to main page</a>
{% endblock %}